{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-1 pb-md-4 mx-auto text-center">
    <h4 class="display-5">{{ title }}</h4>
</div>

  <div class="col-12">
    <div class="row">
      <div class="col-6">
        <div class="card">
            <img class="card-img-top"
                 src="{{ object.image|mymedia }}"
                 alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{ object | title }}</p>
                <p class="card-text">{{ object.content}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'catalog:all_blogs' %}" class="btn btn-primary my-4">Назад</a>
                        <a href="{% url 'catalog:blog_update' object.pk %}" class="btn btn-primary my-4">Редактировать</a>
                        <a href="{% url 'catalog:blog_delete' object.pk %}" class="btn btn-primary my-4">Удалить</a>
                    </div>
                    <div class="card-footer">
                        Просмотры: {{ object.view_count }}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}